<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerialPortName" value="/dev/ttyS0" />
    <add key="SerialPortBaudRate" value="9600" />
    <add key="SerialPortDtrEnable" value="TRUE" />
    <add key="StoragePath" value="/home/pi/photobooth" />
    <add key="CollageGridWidth" value="2" />
    <add key="CollageGridHeight" value="2" />
    <add key="CollageScalePercentage" value="1.0" />
    <add key="CollagePaddingPixels" value="15" />
    <add key="CollageAspectRatio" value="1.5" />
    <add key="Filter" value="Original" />
    <add key="PrinterName" value="" />
    <add key="PrintMarginTop" value="6" />
    <add key="PrintMarginLeft" value="0" />
    <add key="PrintMarginBottom" value="0" />
    <add key="PrintMarginRight" value="6" />
    <add key="PrintDurationMs" value="45000" />
    <add key="SaveSessions" value="true" />
    <add key="OffloadSessions" value="true" />
    <add key="EventId" value="Test" />
    <add key="OffloadAddress" value="https://photobooth.itsmyparty.nl/" />
    <add key="FixedImageFilename" value="" />
    <add key="OverlayImageFilename" value="" />
    <add key="ApiEventId" value="1" />
  </appSettings>
</configuration>