<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="libgphoto2.so.2" target="/home/pi/gphoto2/lib/libgphoto2.so"/>
  <dllmap dll="libgphoto2.so" target="/home/pi/gphoto2/lib/libgphoto2.so"/>
  <dllmap dll="libgphoto2" target="/home/pi/gphoto2/lib/libgphoto2.so"/>
  <dllmap dll="libgphoto2_port.so" target="/home/pi/gphoto2/lib/libgphoto2_port.so" />
  <dllmap dll="libgphoto2_port" target="/home/pi/gphoto2/lib/libgphoto2_port.so" />
</configuration>
