<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="libgphoto2.so.2" target="/usr/local/lib/libgphoto2.so.6"/>
  <dllmap dll="libgphoto2.so" target="/usr/local/lib/libgphoto2.so.6"/>
  <dllmap dll="libgphoto2" target="/usr/local/lib/libgphoto2.so.6"/>
  <dllmap dll="libgphoto2_port.so" target="/usr/local/lib/libgphoto2_port.so.10"/>
  <dllmap dll="libgphoto2_port" target="/usr/local/lib/libgphoto2_port.so.10"/>
</configuration>
