<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerialPortName" value="COM1" />
    <add key="SerialPortBaudRate" value="9600" />
    <add key="SerialPortDtrEnable" value="FALSE" />
    <add key="StoragePath" value="c:\temp" />
    <add key="CollageGridWidth" value="2" />
    <add key="CollageGridHeight" value="2" />
    <add key="CollageScalePercentage" value="0.25" />
    <add key="CollagePaddingPixels" value="30" />
 </appSettings>
</configuration>