<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerialPortName" value="COM7" />
    <add key="SerialPortBaudRate" value="115200" />
    <add key="SerialPortDtrEnable" value="TRUE" />
    <add key="StoragePath" value="c:\temp\photobooth" />
    <add key="CollageGridWidth" value="2" />
    <add key="CollageGridHeight" value="2" />
    <add key="CollageScalePercentage" value="0.25" />
    <add key="CollagePaddingPixels" value="30" />
  </appSettings>
</configuration>