<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="libgphoto2.so.2" target="/usr/local/lib/libgphoto2.so.6"/>
  <dllmap dll="libgphoto2.so" target="/usr/local/lib/libgphoto2.so.6"/>
  <dllmap dll="libgphoto2" target="/usr/local/lib/libgphoto2.so.6"/>
  <dllmap dll="libgphoto2_port.so" target="/usr/local/lib/libgphoto2_port.so.10"/>
  <dllmap dll="libgphoto2_port" target="/usr/local/lib/libgphoto2_port.so.10"/>
  <appSettings>
    <add key="SerialPortName" value="/dev/ttymxc3" />
    <add key="SerialPortBaudRate" value="115200" />
    <add key="SerialPortDtrEnable" value="FALSE" />
    <add key="StoragePath" value="/home/user/photobooth" />
    <add key="CollageGridWidth" value="2" />
    <add key="CollageGridHeight" value="2" />
    <add key="CollageScalePercentage" value="0.25" />
    <add key="CollagePaddingPixels" value="30" />
  </appSettings>
</configuration>