<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerialPortName" value="/dev/ttymxc3" />
    <add key="SerialPortBaudRate" value="115200" />
    <add key="SerialPortDtrEnable" value="TRUE" />
    <add key="StoragePath" value="/home/user/photobooth" />
    <add key="CollageGridWidth" value="2" />
    <add key="CollageGridHeight" value="2" />
    <add key="CollageScalePercentage" value="0.5" />
    <add key="CollagePaddingPixels" value="20" />
    <add key="CollageAspectRatio" value="1.5" />
    <add key="PrinterName" value="Canon-CP780" />
    <add key="PrintMarginTop" value="6" />
    <add key="PrintMarginLeft" value="0" />
    <add key="PrintMarginBottom" value="0" />
    <add key="PrintMarginRight" value="6" />
  </appSettings>
</configuration>